* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li a {
    font-family:"Segoe UI", Tahoma, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 3%;
    align-items: center;
}


header div span {
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 40px;
}


header nav ul {
    list-style: none;
}


header nav ul li {
    display: inline-block;
    padding: 0px 20px;
}


header nav ul li a {
    transition: all 0.3s ease 0s;
}


header nav ul li a:hover {
    color: #bdbdbd;
}


