* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

/* STYLING HEADER AND NAVIGATION BAR */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 3%;
    align-items: center;
}


li a {
    font-family:"Segoe UI", Tahoma, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}


.logo {
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 40px;
}


.nav-links {
    list-style: none;
}


.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}


.nav-links li a {
    transition: all 0.3s ease 0s;
    color: white;
}


.nav-links li a:hover {
    color: cornflowerblue;
}


/* STYLING BODY */

body main {
    margin: 60px 5%;
}


.intro-container {
    padding: 50px;
}


.about-container {
    margin-top: 100px;
    padding: 50px 200px;
}


/* STYLING PAGE FONTS, TEXT COLOR, AND FONT SIZING */

.body-font {
    font-family: 'Geneva';
}


.purple-text {
    color: #7145F5;
}


.subheading {
    font-size: 25px;
}


.name {
    font-size: 80px;
    letter-spacing: 8px;
}


.contact-button {
    background-color: #0C0227;
    border-radius: 10px;
    border-style: none;
    font-family: 'Geneva';  
    font-size: 18px;  
    padding: 15px;
}


.body-text {
    font-size: 20px;
}


a {
    text-decoration: none;
}


button {
    cursor: pointer;
}



/* STYLING ABOUT ME CONTAINER */

.heading {
    font-size: 30px;
    margin-bottom: 10px;
}


.line-spacing {
    line-height: 2;
}


.blue-text {
    color: cornflowerblue;
}


img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: auto;
    height: auto;
}


#about p {
    padding-bottom: 80px;
}